{{ define "content" }}
{{ template "header" . }}
<div class="content">
    <ul>
        <li>
            <a href="/admin">Safed admin</a>
        </li>
        <li>
            <a href="https://egg.graythwaite.ca">My Movies</a>
        </li>
    </ul>
</div>
{{ end }}
